@import url('https://fonts.googleapis.com/css2?family=Plaster&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --black: #000000;
    --orange: #ff8000;
    --grey: #595959;
    --white: #ffffff;
    --ubuntu: "Ubuntu";
    --play: 'Play';
    --plaster: "Plaster";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 2% 6% 2% 6%;
    /* border: 1px solid; */
}

/* header, h1, nav, ul {
    border: 1px solid;
} */

header {
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    width: 40%;
}

.logo p {
    margin-left: 5%;
    font-size: 14px;
    font-family: var(--play), sans-serif;
}

header h1 {
    font-family: var(--plaster), sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.logo h1:hover{
    cursor: pointer;
    color: var(--orange);
}

nav {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 100%;
    /* border: 1px solid; */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

ul li {
    font-family: var(--play), sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

ul li:hover{
    color: var(--orange);
    cursor: pointer;
}


/* ========================
        MAIN
=========================== */
main {
    /* border: 1px solid; */
    width: 1000px;
    height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-uno .front {
    width: 460px;
    font-size: 32px;
    font-family: var(--ubuntu), sans-serif;
    color: var(--orange);
    font-weight: 600;
}

.div-uno h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: var(--black);
}

.div-uno .ideas {
    font-family: var(--ubuntu), sans-serif;
    font-weight: lighter;
    font-size: 26px;
    color: var(--grey);
}

.div-dos {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.div-dos p{
    width: 220px;
    height: 70px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 24px;
    font-size: 24px;
    font-family: var(--ubuntu), sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 2% 0 0;
}

.div-dos .btn-w {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.div-dos p:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}